{{> head }}
{{> navbar }}
    <div class="row">
         <div class="col-7">
             <h1>Galeria</h1>
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam veritatis impedit ea dignissimos in facere minus ad recusandae, id, eaque est voluptatum perferendis ipsum soluta nobis! Voluptatibus expedita quasi mollitia.</p>
         </div>

         <div class="col-4">
             <img src="assets/img/finn.png" alt="" class="img-thumbnail" style="width: 100px;">
         </div>

    </div>
{{> footer}}